body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Songform {
  background-color: coral;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

.Songform button {
  all: none;
  background-color: #ffffff;
  border: solid grey;
  padding: 5px;
  margin-left: 5px;
  border-radius: 20px;
}

.App h1 {
  text-align: center;
}

.SongList {
  width: 100%;
  text-align: center;
}

.song-header {
  background-color: rgb(255, 179, 151);
}

.SongList tr:nth-child(even) {
  background-color: lightgray;
}

.SongList, tr, td {
  border-spacing: 0px;
}